<!--
 * @Author: MoeWang
 * @Date: 2019-10-18 10:47:08
 * @LastEditors: 
 * @LastEditTime: 2019-10-30 09:13:15
 * @FilePath: \maoyan-admind:\GitHub\moewang0321.github.io\_includes\head.html
 -->

<head>
  <title>{% if page.title %}{{ page.title | escape }} |
    {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="html,css,摸鱼，moeWang,摸鱼的Moe,ai摸鱼的Moe,moe">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/renge.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="bookmark" href="/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>　　

  <style>
    table {
      border-left: 1px solid #000000;
      border-top: 1px solid #000000;
      width: 100%;
      word-wrap: break-word;
      word-break: break-all;
    }

    table th {
      text-align: center;
    }

    table th,
    td {
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }
  </style>
</head>