<div class="container-fluid v-center">
  <div class="row-fluid">
    <div class="col-xs-12 span12">
      <div class="container-fluid" id="LG">
        <div class="row-fluid">
          <div class="col-xs-10 span9">
            <h3 class="text-right">
              <strong><a href="{{ site.url }}">{{ site.title }}</a></strong>
            </h3>
          </div>
          <div class="col-xs-2 span3">
            <img alt="MileWang" height="60" src="/images/ZZ.png" class="img-circle miaopasi" /></div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-xs-10 span9">
          <!-- sub menu -->
          <ul class="navbar navbar-default" role="navigation">
            <div class="navbar-header navbar-right">
              <a class="nav navbar-brand" href="/">主页</a>
              <a class="nav navbar-brand" href="/about">谢谢模板</a>

              &nbsp;&nbsp;&nbsp;
            </div>
          </ul>
